*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('./assets/fundo-jokenpo.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.conteiner{
    padding: 20px;
    
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
    gap: 40px;
    margin: 30px 0px;
}

button{
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: opacity 0.5s ease-in-out;
}

button:hover{
    opacity: 0.7;
}

#rock{
    background-color:#808080 ;
}

#paper{
    background-color: green ;
}

#scissors{
    background-color: blue;
}
h1{
    font-size: 100px;
    color: black;
}

p{
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 50px;
    
}

#human-score{
    color: green;
}

#machine-score{
    color: red;
}